* {
    background-color: black;
}

a {
    text-decoration: none;
    color: rgb(255, 85, 131);
    cursor: pointer;
    font-size: 40px;
    text-align: center;
    margin-left: 46%;
    transition: 0.2s ease;
}

.title {
    color: white;
    text-align: center;
    padding: 3%;
    font-size: 320%;
}

#enter-a {
    animation: slideInLeft 5s ease-in-out 0s 1 normal both;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-200%);
    }

    to {
        transform: translateX(0px);
    }
}